/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: ;

  /*========== Colors ==========*/
  /* Change favorite color to match images */
  /*Green dark 190 - Green 171 - Grren Blue 200*/
  --hue-color: ;

  /* HSL color mode */
  --first-color: ;
  --first-color-second: ;
  --first-color-alt: ;
  --title-color: ;
  --text-color: ;
  --text-color-light: ;
  --input-color: ;
  --body-color: ;
  --white-color: ;
  --scroll-bar-color: ;
  --scroll-thumb-color: ;

  /*========== Font and typography ==========*/
  --body-font: ;
  --title-font: ;
  --biggest-font-size: ;
  --h1-font-size: ;
  --h2-font-size: ;
  --h3-font-size: ;
  --normal-font-size: ;
  --small-font-size: ;
  --smaller-font-size: ;

  /*========== Font weight ==========*/
  --font-medium: ;
  --font-semi-bold: ;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: ;
  --mb-0-5: ;
  --mb-0-75: ;
  --mb-1: ;
  --mb-1-25: ;
  --mb-1-5: ;
  --mb-2: ;
  --mb-2-5: ;

  /*========== z index ==========*/
  --z-tooltip: ;
  --z-fixed: ;

  /*========== Hover overlay ==========*/
  --img-transition: ;
  --img-hidden: ;
  --img-scale: ;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
  }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*=============== BASE ===============*/


/*=============== REUSABLE CSS CLASSES ===============*/


/*=============== HEADER ===============*/


/*=============== NAV ===============*/


/* show menu */


/* Change background header */


/* Active link */


/*=============== HOME ===============*/


/*=============== BUTTONS ===============*/


/*=============== ABOUT ===============*/


/*=============== DISCOVER ===============*/


/*=============== EXPERIENCE ===============*/


/*=============== PLACES ===============*/


/*=============== SUBSCRIBE ===============*/


/*=============== SPONSORS ===============*/


/*=============== FOOTER ===============*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*=============== SCROLL BAR ===============*/


/*=============== MEDIA QUERIES ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */


/* For tall screens on mobiles y desktop*/

